@media(max-width:1600px) {
    .container {
      width: 100%;
    }
  }
  
  @media(max-width:1024px) {
    .hamburger {
      display: block;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .nav-menu {
      position: fixed;
      width: 300px;
      left: -340px;
      top: 0;
      min-height: 100vh;
      padding: 0 20px;
      flex-direction: column;
      gap: 0;
      transition: 0.3s;
      background-color: #060606;
    }
  
    .nav-branding-2.active{
      opacity: 1;
      display: block;
    }
  
    .nav-link {
      padding: 15px 0;
    }
  
    .login-link {
      display: block;
    }
  
    .navbar-right button {
      display: none;
    }
  
    .nav-menu.active {
      left: 0;
    }
  
    .showcase-header {
      width: 100%;
      margin: auto;
    }
  
  }

/**/
@media(max-width:750px) {

    .artwork{
        grid-column: 5/10;

    }
    .artwork img{
        width: 150px;
        height: auto;
        padding: 10px 0;
        border-radius: 15px;
    }
    .description {
        grid-column: 2/12;
        grid-row: 3/4;
    }
    .description h3{
   text-align: center;
    }

    .additional-info{
        grid-column: 2/12;
        grid-row: 4/5;
        padding-top: 20px;
    }
    .title_additional_info {
        text-align: center;
    }
    .exhibition-video{
        grid-column: 1/13;
        grid-row: 5/6;
    }    
    .exhibition-video h3{
        text-align: center;
    }

    .audio-file{
        grid-column: 2/12;
        grid-row: 6/7;
        text-align: center;
    }
    .wrapper {
        grid-column: 2/12;
        grid-row: 8/9;
    }
    .footer{
      grid-column: 2/12;
      grid-row: 11/12;
    }
    footer {

        color: #fff;
        padding: 30px;
        height: 50px;
    }
    
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }

      .nav-menu {
        width: 200px;
        left: -240px;
      }
}
  


  .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 45px;
    width: 45px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #FEE440;
    color: #000000;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #565759;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background-color: #000000;
    height: 250px;
    width: 250px;
    border-radius: 10%;
  }
  .card .img img {
    width: 180px;
    height: 180px;
    border-radius: 15%;
    object-fit: cover;
  }
  .btn-voir-plus{
    margin-top: 10px;
  }
  .btn-voir-plus a {
    color: #000000;
  }
  .btn-voir-plus a:hover {
    color: #FEE440;
  }
  .btn-afficher {
    padding: 10px;
    background-color: #FEE440;
    border: none;
    border-radius: 25px;
  }
.btn-afficher:hover {
  background-color: #000;
}


  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
      /*FicheExpo.php*/

.Fiche-expo{
  grid-column: 2/5;
  text-align: center;
  margin-bottom: 15px;
}
.Fiche-expo img {
  height: auto;
  width: 300px;
  border-radius: 10px;
}
  }



