* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  body{
    height: 100vh;
    width: 100vw;
    background-color: #252525;
  }
  
  header {
    transition: 0.6s ease-in-out;
    background-color: #060606;
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    z-index: 2;
  }

main{

    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto ;
    padding-top: 150px;
    gap: 20px;
    color: #fff;
}

  a {
    color: #acacac;
    text-decoration: none;
  }
  h3, i{
    margin-bottom: 5px ;
    color: #FEE440;
  }
  h3{
    letter-spacing: 0.2rem;
  }

  .container {
    width: 1600px;
    margin: auto;
  }
  
  .subcontainer {
    width: 85%;
    margin: auto;
  }
  
  .navbar-container {
    min-height: 70px;
    display: flex;
    z-index: 1000;
  }
  
  .navbar-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
  }
  .navbar-left img {
    height: 140px;
    width: 140px;
  }
  
  .nav-branding-1,
  .nav-branding-2{
    color: white;
    font-size: 2rem;
  }
  
  .nav-branding-2 {
    opacity: 0;
    display: none;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid rgba(211, 211, 211, 0.2);
  }

  .nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }
  
  .nav-link {
    width: 100%;
    transition: 0.3s;
    padding: 20px 0;
    width: 100px;
  }
  
  .nav-link:hover {
    color: #ffffff;
  }
  
  .login-link{
    display: none;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
  }
  
  .navbar-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
 
  }
  .menu_langues{
    margin-left: 50px;
  }
  .menu_langues ul{
    display: flex;

  }
  .menu_langues ul li{
    list-style: none;
    margin: 10px;
  }
  .menu_langues label{
    color: #FFF;
  }
.menu_langues .flag {
  width: 30px;
  height: 20px;
}
  
/**/

/*php languages*/
.language {
  grid-column: 10/13;
  grid-row: 1;
}
.hidden {
  display: none;
}



.formlanguage {
  font-family: Arial, sans-serif;
  display: inline-block; 
}

.langues {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  color: #060606;
}

.langues option {
  padding: 5px;

}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.langues option img {
  width: 20px;
  margin-right: 5px;
}


.artwork{
  grid-column: 4/10;
  text-align: center;
  margin-bottom: 15px;
}

.artwork img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}
.description{
  grid-column: 2/12;
  text-align: center;
  background-color: #565759;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px ;
}

.additional-info {
    grid-column: 2/12;
    grid-row: 4;
    text-align: center;
    background-color: #565759;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px ;
    display: flex;
    flex-direction: column;
}
  
  .additional-info ul {
    list-style: none; 
    padding: 0;
  }
  
  .additional-info ul li {
    border-bottom: 1px solid white;
    padding: 10px 0; 
    color: white; 
  }
  
  .title_additional_info {
    margin-top: 0;
  }
  
.exhibition-video {
  grid-column: 2/12;
  text-align: center;
  background-color: #565759;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px ;
}
.audio-file {
  grid-column: 2/12;
  grid-row: 6;
  text-align: center;
  margin-bottom: 15px;
}
.wrapper {
  grid-column: 3/12;
}
footer {
  padding: 70px 0;
}

.footer-container{
  grid-column: 3/9;
  margin: auto;
}
.footer-container ul {
  list-style: none;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 33%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;

}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  background-color: #FEE440;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #FFF;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3 ease;
}
.footer-col ul li a:hover{
  color: #FEE440;
  padding-left: 10px;
}






/*PAGE Liste exposition*/
.container-infos-expo {
  grid-column: 1/13;
  background: #FEE440;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 32px 25px 32px;
  /* position: relative; */
  position: absolute;
  width: 100%;
}

.expo-infos {
/*   grid-column: 1/13;
  grid-row: 1/2; */
  overflow: hidden;
  background: #FEE440;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  max-height: 100%;
}
.expo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  z-index: 1;
  position: sticky;
  top: 0;

}

.expo-header h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0;
  line-height: 32px;
  color: #000000;
  font-weight: bold;
  font-size: x-large;
}
.date-time {
  color: #000000;
  font-weight: bold;
  font-size: x-large;
}
.expo-lineinfos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.expo-status {
  display: flex;
}

.item-status {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.item-status:not(:last-child) .type-status::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translatey(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
}

.status-number {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #1f1c2e;
}

.type-status {
  position: relative;
  padding-right: 24px;
  text-transform: capitalize;
  color: #4a4a4a;
  font-size: 14px;
}


/**/


.expo-wrapper {
  grid-column: 2/11;
  grid-row: 2/12;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px 10px 30px 0;
  gap: 20px;
}

.card-keeper-expo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
} 
.card-expo{
  width: 400px;
  height: 450px;
  border-radius: 25px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #000000;
  margin-left: 35px;
  margin-top: 30px;
}
.image-content-expo, .card-content-expo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px 14px;
}

.image-content-expo{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.card-image-expo{
  position: relative;
  height:250px;
  width :300px;
  border-radius: 15px;
  background-color: #F3f3f3;
}
.card-image-expo .card-img-expo{
  position: absolute; 
  height: 100%;
  width: 100%; 
  border-radius: 15px;
  border: 4px solid #ED5B8E;
}
.libelle-expo{
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

.voir-plus-expo{
  border:none;
  background-color: #FEE440;
  color: #252525;
  border-radius: 25px;
  padding: 15px;
  cursor: pointer;
  width: 90px;
  transition: all 0.3s ease;
}
   
  .voir-plus-expo:hover{
    background-color: #ED5B8E;
    color: #252525;
  }

/*FicheExpo*/

.affiche-ficheExpo{
  grid-column: 5/12;
}
.affiche-ficheExpo img{
  width: 500px;
  height: auto;
}

/*FicheExpo.php*/

.Fiche-expo{
  grid-column: 2/12;
  grid-row: 1;
  text-align: center;
  margin-bottom: 15px;
}
.Fiche-expo h3{
  margin-top: 20px;
  margin-bottom: 15px;
}
.Fiche-expo img {
  grid-column: 4/9;
  height: auto;
  width: 600px;
  border-radius: 10px;
  margin-top: 10px;
}

div.card-artiste-now-expo {
  grid-column: 4/10;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  background-color: #071013;
  padding: 2rem;
  margin: 2rem;
  width: 850px;
  height: auto;
  border-radius: 10px;
 /* border: solid 2px #310F8E; */
  gap: 1rem;
  box-shadow: 20px 25px 15px 0px rgba(0,0,0,0.1);
}
 
div.card-row1 h2 {
  font-size: 1.25rem;
  text-align: center;
  width: 25%;
}
 
div.card-row2 {
  display: flex;
}
 
div.image-artiste-ongoing {
  height: fit-content;
  width: fit-content;
  flex: 1;
}
 
div.image-artiste-ongoing img {
  height: 12.5em;
  width: 12.5em;
  border-radius: 50%;
  border: solid 2px #000000;
  object-fit: cover;
}
 
div.content-infos-artiste-ongoing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
}
div.content-infos-artiste-ongoing h2{
  color: #FFF;
}
div.infos-artiste-ongoing p {
  margin-bottom: 1rem;
  color: #FFF;
}
 

div.action-artiste-ongoing {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
}
.voir-plus-artiste {
  padding: 15px;
  border-radius: 25px;
  border: none;
  background-color: #FEE440;
}
.voir-plus-artiste a{
font-weight: 700;
color: #000000;
}
.voir-plus-artiste:hover{
  background-color: #ED5B8E;
}

.oeuvreExpo{
  display: none;
}

.active{
  display: block;
  grid-column: 3/11;
  grid-row: 3;
  margin: 0 0 40px 40px;

}

.infos-sup{
  grid-column: 4/11;
  grid-row: 3;
  margin: 0 0 40px 40px;
}
 
/*listeArtiste.php*/
.artiste-image{
  object-fit: cover;
}
#card-artiste{
  width: 300px;
  height: 350px;
  border-radius: 25px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #000000;
  margin-left: 35px;
  margin-top: 30px;
}
#art-img{
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

/*ficheArtiste.php*/

.titre-artiste {
  grid-column: 4/6;
  color: #ED5B8E;
  font-size: 2.5rem;
margin-top: 125px;

}

.img-keeper{
    grid-column: 7/10;
    grid-row: 1;
    width: 250px;
    height:250px;
    border-radius: 50%;
    margin-top: 50px;
}
.img-keeper img{
      object-fit: cover;
      border-radius: 50%;
      width: 100%;
      height: 100%;
}
.description-artiste{
  grid-column: 2/12;
  grid-row: 2;
  text-align: center;
  background-color: #565759;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px ;
}


.active1{
  display: block;
  grid-column: 3/11;
  grid-row: 3;
  margin: 0 0 40px 40px;
}

/*CAROUSSEL*/
.top{
  grid-column: 1/13;
  grid-row: 1/3;
  overflow: hidden;
}
.bottom{
  grid-column: 3/11;
  grid-row: 3;
}


.debut_carousel1 {
  margin: 0;
  padding: 0;
}

.slider-container {
  width: 102vw;
  position: relative;
  margin: 0;
  height: 60vh;
  overflow: hidden;
}

.menu {
  position: absolute;
  bottom: 10px; /* Positionnez les points en bas du bloc de l'image */
  left: 50%; /* Positionnez les points au centre horizontalement */
  transform: translateX(-50%); /* Ajustez la position horizontale pour les centrer */
  z-index: 800; /* Assurez-vous que les points ont un z-index supérieur à celui des images */
}

.container {
  margin: 0;
  padding: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #FEE440;
  border-radius: 50px;
  margin: 0 0.2em 1em;
}

.menu label:hover,
.menu label:focus {
  background: #1c87c9;
}

.slide-input {
  opacity: 0;
}

.slide-img {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  transition: left 0s 0.75s;
  max-width: 1625px;
  max-height: 500px;
}

.slide-img img {
  display: none;
}

[id^="slide"]:checked + .slide-img {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}

.image_slide1 {
  background-image: url(../images/artwork/attar_fire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.image_slide2 {
  background-image: url(../images/artwork/attar_fire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  width: 100%;
}

.image_slide3 {
  background-image: url(../images/artwork/attar_fire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--FONTCOLOR);
  justify-content: center;
  width: 100%;
}
/*collection.php*/

.colect-name{
  display: flex;
  width:80vw;
  height:80px;
  text-align: center;
  background-color:#FEE440;
  color: #252525;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

/*Accueil - top*/

.top {
  grid-row: 1;
  padding: 20px;
}
.top h1{
  text-align: center;
  color: #FEE440;
  margin: 40px;
}
.sli-wra{
  position: relative;
  max-width: 45rem;
  margin: 0 auto;
}
.slid{
  display: flex;
  aspect-ratio: 16/9; /*1/1 pour le mobile en mediaqueries*/
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}
.slid img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  
}
.slid::-webkit-scrollbar {
  display: none;
}
.nav-img {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.nav-img a {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #ED5B8E;
  opacity: 0.75;
  transition: opacity ease 250ms;

}
.nav-img a:hover {
  opacity: 1;

}

